h1,
h1 + p,
h2,
ol,
h2 + p,
pre,
small,
hr,
#feedback,
.breadcrumb,
.footer {
	display: none;
}

#valley-of-the-kings {
	margin-left: auto;
	margin-right: auto;
	float: none;
	background: none;
	border-width: 0;
}
#arc input {
	border-radius: 0;
	border-color: #eee;
	font-size: 18px;
}
