.text-biggest {
	font-size: 24px !important;
}
.text-center {
	text-align: left;
}
.desktop-feed a[href*="/places"] {
	font-size: 14px;
}
.desktop-feed a[href*="/beers"] {

	display: block;
}
.footer,
#drift-widget-container,
.header-help,
.header-main .pure-u-1-6,
a[href*="/your_menus/dropdown"]{
	display: none;
}
/* @ work */
.text-normal {
	color: #aaa;}

	.text-normal a {
		color: #333;
	}
