/* @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'); */

body {
    -webkit-user-select: auto;
	-webkit-tap-highlight-color: auto;
	-webkit-touch-callout: auto;
    overflow: auto !important;
}
.sharedaddy {
    display: none;
}
