/* lobste.rs */
a
 {
	color: #333
}
li.story div.details span.link a:visited {
	color: #666;
}
li .link {
	font-weight: normal;
}
a.tag,
a.tag_is_media {
	background-color: transparent;
	border-color: #999;
}
span.user_is_author,
a.user_is_author,
li .byline a.user_is_author {
	color: #888;
}
.avatar,
#l_holder,
#footer {
	display: none;
}
li .domain {
	font-style: normal;
}
div.voters .upvoter:hover, .upvoted div.voters .upvoter {
	border-bottom-color: #333;
}
