/* fourmilab.ch */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
body {
    padding: 15px;
}
.h,
.h + p,
.h + p + p,
.h + p + p + p,
.h + p + p + p + p,
.subsuper,

h2,
.footer,
.c em,
ul,
h2 + p {
    display: none !important;
}

.c {
    text-align: left;
    display: flex;
    flex-direction: column;
}

[type="button"] {
    text-align: left;
}

textarea {
    background: none !important;
    order: 3;
}
